@mixin grid($align: stretch, $justify: left) {
    @if $align == 'top'         { $align: flex-start; }
    @if $align == 'middle'      { $align: center; }
    @if $align == 'bottom'      { $align: flex-end; }
    @if $align == 'stretch'     { $align: stretch; }
    @if $align == 'baseline'    { $align: baseline; }

    @if $justify == 'left'      { $justify: flex-start; }
    @if $justify == 'center'    { $justify: center; }
    @if $justify == 'right'     { $justify: flex-end; }
    @if $justify == 'between'   { $justify: space-between; }
    @if $justify == 'around'    { $justify: space-around; }

    align-items: $align;
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
}

@mixin cell($x: fill, $n: 12) {
    @if $x == 'fill' {
        flex-grow: 1;
        min-width: 0;
        width: 0;
    } @else {
        flex-grow: 0;
        width: calc(100% * (#{$x} / #{$n}));
    }

    box-sizing: border-box;
    flex-shrink: 0;
}

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

@mixin spread-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin absolute-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin image-replace {
    text-indent: 102%;
    white-space: nowrap;
    overflow: hidden;
}

@mixin hide-visually {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@mixin media-object(
  $stretch: '.content'
) {
  display: flex;
  align-items: flex-start;

  & > #{$stretch} {
    flex: 1;
  }
}

@mixin sticky-footer(
  $stretch: '.content'
) {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  & > #{$stretch} {
    flex: 1;
  }
}

@mixin ratio-box (
  $ratio: 1/1,
  $inner: ".inner"
) {

  overflow: hidden;
  position: relative;

  &:before {
    content: "";
    display: block;
    height: 0;
    padding-top: (1 / $ratio) * 100%;
  }

  & > #{$inner} {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

}
