// Variables
$white: #fff;
$black: #080808;

// Fonts
$nav-text: "Helvetica Neue", "HelveticaNeue", sans-serif;
$heading-text: "Helvetica Neue", "HelveticaNeue", sans-serif;
$body-text: "Helvetica Neue", "HelveticaNeue", sans-serif;

// Grid
$outer-padding: 1.6rem;
$max-width: 1180px !default;

//Breakpoints
$small: new-breakpoint(max-width 600px);
$medium: new-breakpoint(max-width 900px);
$large: new-breakpoint(max-width 1200px);

body {
	@include media($small) {
        /* Medium */
    }

    @include media($medium) {
        /* Medium */
    }

    @include media($large) {
        /* Small */
    }
}
