/* Variables */
$white: #ffffff;
$black: #080808;

/* Fonts */
$nav-text: "Helvetica Neue", "HelveticaNeue", sans-serif;
$heading-text: "Helvetica Neue", "HelveticaNeue", sans-serif;
$body-text: "Helvetica Neue", "HelveticaNeue", sans-serif;

/* Grid */
$max-width: 1180px !default;
