// Variables
$white: #fff;
$black: #080808;

// Fonts
$nav-text: "Helvetica Neue", "HelveticaNeue", sans-serif;
$heading-text: "Helvetica Neue", "HelveticaNeue", sans-serif;
$body-text: "Helvetica Neue", "HelveticaNeue", sans-serif;

// Grid
$outer-padding: 2rem;
$max-width: 1100px !default;

$neat-grid: (
  columns: 12,
  gutter: 40px,
);

//Breakpoints
$small: (
  columns: 12,
  gutter: 40px,
  media: '(max-width: 600px)'
);

$medium: (
  columns: 12,
  gutter: 40px,
  media: '(max-width: 900px)'
);

$large: (
  columns: 12,
  gutter: 40px,
  media: '(max-width: 1200px)'
);

body {
    @include grid-media($small) {
        /* Small */
    }

    @include grid-media($medium) {
        /* Medium */
    }

    @include grid-media($large) {
        /* Large */
    }
}
