
/**
 * SETTINGS > GLOBALS
 */

// Containers
$global-max-width: 30rem;

// Grid
$spacing-gutter: $inuit-global-font-size;

// Spacings
$spacing-base: $inuit-global-font-size;

$spacing-tiny: $spacing-base / 8;
$spacing-xsmall: $spacing-base / 4;
$spacing-small: $spacing-base / 2;
$spacing-medium: $spacing-base;
$spacing-large: $spacing-base * 2;
$spacing-xlarge: $spacing-base * 4;
$spacing-huge: $spacing-base * 8;

// UI elements
$global-border-radius: 3px;
