
////
/// Easily hide elements.
/// @group utilities
/// @author Charles Beaumont
////

.u-hide {
    display: none;
}

.u-hide\@mobile {
    @include mq($until: tablet) {
        display: none;
    }
}

.u-hide\@desktop {
    @include mq($from: desktop) {
        display: none;
    }
}
