// Variables
@import "utils/_vars.css";
@import "utils/functions";
@import "utils/mixins";

// Imports
@import "../../bower/normalize.css/normalize.css";

@import "base/typography";
@import "base/wp-default";

@import "layout/header";
@import "layout/footer";

@import "pages/home";

@import "components/carousel";

//Sitewide CSS
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	font-size: 16px;
}

body {
	min-height: 100%;
	width: 100%;
	line-height: 1.2;
	font-family: $body-text;
	font-weight: 400;
	color: $black;
}

.clearfix {
	&::after {
		clear: both;
		content: "";
		display: table;
	}
}