/* Variables */
@import "utils/_vars.css";
@import "utils/_functions.css";
@import "utils/_mixins.css";


/* Sitewide CSS */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	font-size: 16px;
}

body {
	min-height: 100%;
	width: 100%;
	line-height: 1.2;
	font-weight: 400;
}

.clearfix {
	&::after {
		clear: both;
		content: "";
		display: table;
	}
}