
/**
 * OBJECTS > SECTION
 */

.o-section {
  margin-bottom: $spacing-base;
  margin-top: $spacing-base;

  &.-no-spacing {
    margin-bottom: 0;
    margin-top: 0;
  }

  &.-spacing-large {
    margin-bottom: $spacing-large;
    margin-top: $spacing-large;
  }
}
