
/**
 * OBJECTS > BOX
 */

/**
 * The box object simply boxes off content. Extend with cosmetic styles in the
 * Components layer.
 *
 * 1. So we can apply the `.o-box` class to naturally-inline elements.
 */

.o-box {
  @include clearfix();
  display: block;
  padding: $global-spacing-unit;

  > :last-child {
    margin-bottom: 0;
  }

  &.-flush {
    padding: 0;
  }

  &.-tiny {
    padding: $global-spacing-unit-tiny;
  }

  &.-small {
    padding: $global-spacing-unit-small;
  }

  &.-large {
    padding: $global-spacing-unit-large;
  }

  &.-huge {
    padding: $global-spacing-unit-huge;
  }
}

.o-box--center {
  display: flex;
  align-items: center;
  justify-content: center;
}
